<!DOCTYPE html>
<html>
<head>
  <link href="style.css" rel="stylesheet" type="text/css">
  <title>Validation des réservations</title>
</head>
<body>
  <div class="content">
    <h1>Validation des réservations</h1>
    <label>Destination : <%= reservations.destination  %></label>
    <br><label>Prix: <%= reservations.prix  %></label>
    <br>
    <label>Liste des passagers :</label>
    <ul>
      <% for (let  i = 0; i < liste_passenger.length; i++){%>
        <li><%= liste_passenger[i].name %> => <%=liste_passenger[i].age  %> years</li>
      <%}%>
      
      
    </ul> 
    <form action="/notification" method="post">
      <input type="submit" value="Etape suivante">
      <input type="submit" value="Annuler la réservation" formaction="/annuler">
    </form>
  </div>

</body>
</html>
