<!DOCTYPE html>
<html>
  
  <head>
    <link href="style.css" rel="stylesheet" type="text/css">
    <title>Confirmation de réservation</title>
  </head>
  <body>
    <div class="content">
      <h1>Votre réservation est bien enregistrée</h1>
      <p>EcamAir vous remercie et vous souhaite un bon voyage</p>
      <center><img src="bon_voyage.jpg" alt="Image de voyage" width="250" ></center>
    </div>

  </body>
</html>