<% include ("../controllers/reservation.js")%>
<html>
    
    <head>
        <link href="style.css" rel="stylesheet" type="text/css">
        <title>Reservation - EcamAir</title>
    </head>
    
    <body>
        <div class="content">
            <h1>Reservation</h1>
            <form action = "/passengers" method = "get" name="reservation">
                <table>
                    <tr>
                        <td><label class="form-control">Destination :</label></td>
                        <td><input type = "text" name="destination" id="destination"></td>
                    </tr>
                    <tr>
                        <td><label class="form-control">Nombre de place :</label></td>
                        <td><input type = "text" name = "nbrPlace" id = "nbrPlace"></td>
                    </tr>
                    <tr>
                        <td><label class="form-control">Assurance :
                        <input type = "checkbox" name="assurance" id="assurance"></label></td>
                    </tr>
                    <tr>
                        
                        <td><button type="submit" name="btnReservation">Etape suivante</button></td>
                        
                    </tr>
                </table>
                <button type="submit" name="prix" formaction="/calculer">Calculer le total</button>
            </form >
            <form action = "/calculer" method = "get">
                <% if (prixTot !== undefined) { %>
                    <br><label class="form-control" id="prix"> le prix total est:  <%= prixTot %></label>
                <% } %>
            </form>
        </div>
        
        
    </body>
    
</html>